@font-face {
  font-family: CalcMDL2;
  src: url('./assets/fonts/CalcMDL2.ttf');
}

html,
body {
  font-family: CalcMDL2, sans-serif;
  height: 100%;
}

body {
  background: #222527;
}

body,
#root {
  min-height: 100%;
}

.right-tab {
  background: transparent;
  border-radius: 0 !important;
  color: #ffffff !important;
  outline: none;
}

.right-tab.active {
  border: 0;
  background-color: transparent !important;
  border-bottom: 3px solid #d77800 !important;
}

.right-tab:hover {
  border: none;
}

.nav-tabs {
  border: none;
}

.history-list li {
  list-style: none !important;
}

.list-group-item {
  border-radius: 0 !important;
  border: 0 !important;
  background: transparent !important;
  outline: none !important;
}

.list-group-item:hover {
  background-color: #353535 !important;
}

.history-list {
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: calc(100vh - 90px);
  position: relative;
}

.push-button {
  font-size: 1.3em;
  font-weight: normal;
  border: none;
}

.operation-button {
  background-color: #151718;
}

.operation-button:hover {
  background-color: #4b4b4b;
}

.number-button {
  background-color: #070708;
}

.number-button:hover {
  background-color: #4b4b4b;
}

.equal-button {
  background-color: #6b4718;
}
.equal-button:hover {
  background-color: #c46f03;
}

.equal-button:focus {
  background-color: #c46f03;
}

.trash-button {
  position: absolute;
  width: 48px;
  height: 48px;
  border-color: transparent;
  border-radius: 0;
  background-color: transparent;
  color: #ffffff;
  right: 0;
  bottom: 0;
  z-index: 10;
  outline: none !important;
}

.trash-button:hover,
.trash-button:focus {
  background-color: #4b4b4b !important;
  border: none !important;
  outline: none;
  box-shadow: none !important;
}

.memory-button {
  border: none;
  box-shadow: none !important;
  background-color: transparent;
}

.memory-button:hover,
.memory-button:focus,
.memory-button:active {
  background-color: #4b4b4b !important;
}

/* width */
::-webkit-scrollbar {
  display: none;
}

.mobile-history {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  background-color: #151718;
  min-height: 100%;
}

.mobile-history-in {
  animation: mobile-history-panel-in .2s;
  animation-fill-mode: forwards;
}

.mobile-history-out {
  animation: mobile-history-panel-out .2s;
  animation-fill-mode: forwards;
}

@keyframes mobile-history-panel-in {
  0% {
    opacity: 0;
    z-index: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes mobile-history-panel-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
