@font-face {
  font-family: CalcMDL2;
  src: url('./assets/fonts/CalcMDL2.ttf');
}

html,
body {
  font-family: CalcMDL2, sans-serif;
  height: 100%;
}

body {
  background: #222527;
}

body,
#root {
  min-height: 100%;
}

.right-tab {
  background: transparent;
  border-radius: 0 !important;
  color: #ffffff !important;
  outline: none;
}

.right-tab.active {
  border: 0;
  background-color: transparent !important;
  border-bottom: 3px solid #d77800 !important;
}

.right-tab:hover {
  border: none;
}

.nav-tabs {
  border: none;
}

.history-list li {
  list-style: none !important;
}

.list-group-item {
  border-radius: 0 !important;
  border: 0 !important;
  background: transparent !important;
  outline: none !important;
}

.list-group-item:hover {
  background-color: #353535 !important;
}

.history-tab-content {
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: calc(100vh - 50px);
}

.push-button {
  font-size: 1.3em;
  font-weight: normal;
  border: none;
}

.operation-button {
  background-color: #151718;
}

.operation-button:hover {
  background-color: #4b4b4b;
}

.number-button {
  background-color: #070708;
}

.number-button:hover {
  background-color: #4b4b4b;
}

.equal-button {
  background-color: #6B4718;
}
.equal-button:hover {
  background-color: #C46F03;
}
